#diski-table {
  margin-top: 2%;
  font-size: 10px;
}

.diski-table-button {
  font-size: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
}

.navbar {
  background-color: rgb(246, 204, 209) !important;
}

h1 {
  text-align: center;
  font-size: 2rem;
}

h2 {
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
}

h3 {
  font-size: 0.7rem;
  font-weight: 400;
  color: rgb(125, 125, 125);
}

.content {
  min-height: calc(100vh - 60px);
  margin-bottom: 0px;
}

.footer {
  color: rgb(160,160,160);
  font-size: 13px;
  margin-top: 17px;
  margin-bottom: 15px;
}

#page-explanation {
  margin-top: 17px;
  margin-bottom: 15px;
}

.footer_social_icon {
  padding-left: 25px;
}

#logo-image {
  border-radius: 50%;
}

.social-banner {
  font-size: 12px;
  text-align: center;
  margin-top: 4px;
  margin-bottom: 5px;
  padding: 3px;
}

.modal-row {
  font-size: 14px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.copy-button {
  background-color: #8BC34A;
  color: #fff;
  border: none;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 3px;
  padding-right: 3px;
}

.copy-button:hover {
  background-color: #9CCC65;
}

.copy-button:active {
  background-color: #7CB342;
}

.hidden-cell {
  display: none;
}

.banner-table-cell {
  text-align: center;
  background-color: rgb(243, 243, 243);
}

@media (max-width: 767px) {
    .container-fluid {
      padding-left: 0px !important;
      padding-right: 0px !important;
    }

    .col-sm-1 {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .col-sm-10 {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .row {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
}
