#duplicate-codes-button {
  margin-top: 1%;
}

input[type="text"] {
  font-size:8px;
}

.working-table-fill-in-field {
  width: 100%;
}

.small-delete-button {
  heigth: 8px;
  width: 50px;
  font-size:8px;
}
