<div class="modal-header">
  <h4 class="modal-title">{{company}}</h4>
  <button type="button" class="close" aria-label="Close" style="outline: none;" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="modal-row row">
    <div class="col-4">Code:</div>
    <div class="col-8">
      <ng-container *ngIf="code.startsWith('http'); else showCode">
        <a [routerLink]="['/giftcards', (company | lowercase)]" target="_blank" (click)="sendGiftcardEventsToGa()">KLIK</a>
      </ng-container>
      <ng-template #showCode>
        {{ code }}
        <button type="button" class="copy-button btn btn-outline-secondary" (click)="copyToClipboard(code); sendEventToGa('CodeDetailModal', company)" ngbTooltip="Copied!" triggers="click:blur">
          Copy
        </button>
      </ng-template>
    </div>
  </div>
  <div class="modal-row row">
    <div class="col-4">Korting:</div>
    <div class="col-8">{{discountPercentage}}</div>
  </div>
  <div class="modal-row row">
    <div class="col-4">Gespot op:</div>
    <div class="col-8">{{codeDate}}</div>
  </div>
  <div *ngIf="company.startsWith('ALIEXPRESS')" class="modal-row row">
    <div class="col-12" style="color: blue;">Code geldig op geselecteerde producten. Zie <a href="https://best.aliexpress.com/" target="_blank" style="text-decoration: underline;">hier</a></div>
  </div>
  <div *ngIf="company.startsWith('TEMU')">
    <div *ngIf="company.includes('GRATIS'); else temuNormal" class="modal-row row">
      <div class="col-12" style="color: blue;">
        Code te gebruiken in de Temu app (zoekbalk) met een nieuwe account. Code geeft gratis producten. Download de app <a href="https://temu.to/m/e74veq9vg5u" target="_blank" style="text-decoration: underline;">hier</a>
      </div>
    </div>
    <ng-template #temuNormal>
      <div class="modal-row row">
        <div class="col-12" style="color: blue;">
          Code te gebruiken in de Temu app met een nieuwe account. Code geeft €100 shoptegoed en 30% korting. Download de app <a href="https://temu.to/m/u0p32ew176i" target="_blank" style="text-decoration: underline;">hier</a>
        </div>
      </div>
    </ng-template>
  </div>
</div>
