<div class="modal-header">
  <h4 class="modal-title">{{company}}</h4>
  <button type="button" class="close" aria-label="Close" style="outline: none;" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="modal-row row">
    <div class="col-4">Code:</div>
    <div class="col-8">
      {{code}}
      <button type="button" class="copy-button btn btn-outline-secondary" (click)="copyToClipboard(code); sendEventToGa('CodeDetailModal', company)" ngbTooltip="Copied!" triggers="click:blur">
        Copy
      </button>
    </div>
  </div>
  <div class="modal-row row">
    <div class="col-4">Korting:</div>
    <div class="col-8">{{discountPercentage}}</div>
  </div>
  <div class="modal-row row">
    <div class="col-4">Gespot op:</div>
    <div class="col-8">{{codeDate}}</div>
  </div>
  <div *ngIf="company === 'ALIEXPRESS'" class="modal-row row">
    <div class="col-12" style="color: blue;">Code geldig op geselecteerde producten. Zie <a href="https://www.aliexpress.com/gcp/300001062/Bestsellers" target="_blank" style="text-decoration: underline;">hier</a></div>
  </div>
  <div *ngIf="company === 'ADIDAS.NL'" class="modal-row row">
    <div class="col-12" style="color: blue;">Code geldig op geselecteerde producten. Zie <a href="https://www.adidas.nl/selected_items" target="_blank" style="text-decoration: underline;">hier</a></div>
  </div>
  <div *ngIf="company.startsWith('TEMU')" class="modal-row row">
    <div class="col-12" style="color: blue;">
      Code te gebruiken in de Temu app met een nieuwe account. Download de app <a href="https://temu.to/m/u0p32ew176i" target="_blank" style="text-decoration: underline;">hier</a>
    </div>
  </div>
</div>
