<div class="modal-header">
  <h4 class="modal-title">{{company}} kortingscode</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div>
    <span>Code: {{code}}</span>
    <span>
      <button type="button" class="btn btn-outline-secondary" (click)="copyToClipboard(code)" ngbTooltip="Copied!" triggers="click:blur">
        Copy
      </button>
    </span>
  </div>
  <div>Korting: {{discountPercentage}}</div>
  <div>Gespot en getest op: {{codeDate}}</div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.close()">Close</button>
</div>
