<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <div>
        startdate: <input type="text" [(ngModel)]="startDateForPostString">
        max amount: <input type="text" [(ngModel)]="maxAmountForPost">
      </div>
      <div><button type="button" (click)="generateInstaPost()" class="btn btn-primary btn-sm">Generate post</button></div>

      <div class="row">
        <div class="col-4">
          <div>dots company</div>
          <span>
            <button class="small-button" type="button" (click)="addDot('company')">+</button>
            <button class="small-button" type="button" (click)="removeDot('company')">-</button>
          </span>
        </div>
        <div class="col-4">
          <div>dots code</div>
          <span>
            <button class="small-button" type="button" (click)="addDot('code')">+</button>
            <button class="small-button" type="button" (click)="removeDot('code')">-</button>
          </span>
        </div>
        <div class="col-4">
          <div>dots via</div>
          <span>
            <button class="small-button" type="button" (click)="addDot('via')">+</button>
            <button class="small-button" type="button" (click)="removeDot('via')">-</button>
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div>
            date: <input type="text" [(ngModel)]="kortingDate">
          </div>
          <div>
            date fontsize: <input type="text" [(ngModel)]="kortingDateFontSize">
          </div>
          <div>
            header fontsize: <input type="text" [(ngModel)]="headerFontSize">
          </div>
          <div>
            body fontsize:  <input type="text" [(ngModel)]="bodyFontSize">
          </div>
          <div>
            <button class="small-button" type="button" (click)="setTableBackgroundColour('#FDEEB7')">Yellow</button>
          </div>
          <div>
            <button class="small-button" type="button" (click)="setTableBackgroundColour('#F6CCD1')">Pink</button>
          </div>
          <div>
            <span>
              <button class="small-button" type="button" (click)="calculateAspectRatio()">asp ratio</button>
            </span>
            <span>
              current aspect ratio: {{aspectRatio}}
            </span>
          </div>
          <div>
            <button class="small-button" type="button" (click)="defaultSizeTable()">default</button>
          </div>
          <div>
            <button class="small-button" type="button" (click)="setAspectRatio45()">4:5</button>
          </div>
          <div>
            <button class="small-button" type="button" (click)="toggleTableLayout()">Toggle</button>
          </div>
          <div>
            <button class="small-button" type="button" (click)="sortTable()">Sorteer</button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div *ngFor="let entry of instaDiscountEntries" style="font-size:9px;">
            {{entry.date}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="table-outline">
        <table id="insta-table" class="table table-dark" [ngStyle]="{
            'height.px' : tableHeight,
            'width.px' : tableWidth,
            'font-size.px' : tableFontSize,
            'color' : tableLineAndFontColor,
            'background-color' : tableBackgroundColor
            }">
          <thead>
            <tr>
              <th [ngStyle]="{'border-color' : tableLineAndFontColor, 'font-size.px' : kortingDateFontSize, 'padding-left' : tablePaddingLeft, 'padding-top' : tablePaddingTop }" scope="col">{{kortingDate}}</th>
              <th [ngStyle]="{'border-color' : tableLineAndFontColor, 'font-size.px' : headerFontSize, 'padding-top' : tablePaddingTop }" scope="col">Je krijgt korting bij</th>
              <th [ngStyle]="{'border-color' : tableLineAndFontColor, 'font-size.px' : headerFontSize, 'padding-top' : tablePaddingTop }" scope="col" class="tablePaddingTop">Met code</th>
              <th [ngStyle]="{'border-color' : tableLineAndFontColor, 'font-size.px' : headerFontSize, 'padding-right' : tablePaddingRight, 'padding-top' : tablePaddingTop  }" scope="col">Via</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let entry of instaDiscountEntries" [ngStyle]="{
                  'height.px' : tableRowHeight,
                  'line-height.px' : tableRowLineHeight,
                  'min-height.px' : tableRowMinHeight
                  }">
              <td [ngStyle]="{'border-color' : tableLineAndFontColor, 'font-size.px' : bodyFontSize, 'padding-left' : tablePaddingLeft }"></td>
              <td [ngStyle]="{'border-color' : tableLineAndFontColor, 'font-size.px' : bodyFontSize }">{{entry.company}}<span [ngStyle]="{'color' : tableBackgroundColor}" class="invisible-dots">{{dotsCompany}}</span></td>
              <td [ngStyle]="{'border-color' : tableLineAndFontColor, 'font-size.px' : bodyFontSize }">{{entry.code}}<span [ngStyle]="{'color' : tableBackgroundColor}" class="invisible-dots">{{dotsCode}}</span></td>
              <td [ngStyle]="{'border-color' : tableLineAndFontColor, 'font-size.px' : bodyFontSize, 'padding-right' : tablePaddingRight }">{{entry.via}}<span [ngStyle]="{'color' : tableBackgroundColor}" class="invisible-dots">{{dotsVia}}</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
