table, th, td {
  vertical-align: middle;
}

table {
  counter-reset: row-num - 1;
}

table tr {
  counter-increment: row-num;
  border: yellow !important;
}
table tr:not(:last-child) td:first-child::before {
  content: counter(row-num);
}

.smaller {
  vertical-align: middle;
  font-size:12px;
}

.table-outline {
  height: 502px;
  width: 502px;
  border: 1px solid blue;
}

.small-button {
  heigth: 8px;
  width: 50px;
  font-size:8px;
}

input[type="text"] {
  font-size:8px;
}

.last td {
  padding-bottom: 45px !important;
}
